<div class="jumbotron" style="text-align: center;">

	<p>Uniwersytet Jagielloński</p>

	<p>Wydział Zarzadzania i Komunikacji Społecznej</p>
	<p>Kierunek: Elektroniczne Przetwarzanie Informacji</p>

	<h3 style="margin-top: 60px;">Izabela Styrylska</h2>
	<h2>Projekt i implementacja aplikacji do wymieniania się książkami</h1>

	<p style="margin-top: 60px;">Praca magisterska napisana pod kierunkiem:</p>
	<p>prof. dr hab. Mariusza Flasińskiego</p>

</div>